.footer {
    background: linear-gradient(180deg, #0A2850 0%, #071931 100%);
    box-sizing: border-box;
    padding: 60px 100px 0 80px;
  }

  .footer__columns {
    display: flex;
  }
  
  .footer__column_content_social {
    margin-left: auto;
  }
  
  .footer__logo {
    width: 105px;
    height: 39px;
    
  }
  
  .footer__list {
    list-style-type: none;
    padding: 0;
    margin: 0;
  }
  
  .footer__list-item {
    color: white;
    margin-bottom: 16px;
  }
  
  .footer__list-item:last-of-type {
    margin-bottom: 0;
  }
  
  .footer__column-heading {
    margin: 0 0 20px;
    font-size: 16px;
    color: white;
    font-family: "Inter";
    font-style: normal;
    font-weight: bold;
    font-size: 16px;
    line-height: 20px;
  }
  
  .footer__column-link {
    color: white;
    font-size: 16px;
    line-height: 20px;
    text-decoration: none;
    display: flex;
    align-items: center;
    font-family: "Inter";
    font-style: normal;
    font-weight: normal;
  }
  
  .footer__column-link:hover {
    color: #c1c1c1;
    transition: 2s;
  }
  .footer__social-icon {
    width: 16px;
    height: 16px;
    margin-right: 10px;
  }
  
  .footer__copyright {
    margin: 108px 0 0;
    color: white;
    padding-bottom: 60px;
    font-family: "Inter";
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 20px;
  }