.form {
    max-width: 385px;
}

.form__fieldset {
    padding: 0;
    margin: 0;
    border: none;
}

.form__label {
    margin-bottom: 32px;
    display: block;
    font-family: "Inter" , "arial" , "sans-serif";
    font-size: 16px;
    line-height: 20px;
    font-weight: 500;
    font-style: normal;
}

.form__checkbox {
    border-radius: 2px;
}

.form__label_type_checkbox {
    display: flex;
    justify-content: center;
    gap: 12px;
    margin-bottom: 0;
}

.form__input {
    display: block;
    width: 100%;
    padding: 0;
    box-sizing: border-box;
    margin-top: 8px;
    font-family: "Inter" , "arial" , "sans-serif";
    font-style: normal;
    font-weight: normal;
    font-size: 20px;
    line-height: 60px;
    color: #838383;
    border-width: 1px;
    border-style: solid;
    padding-left: 10px;
    border-color: #838383;
    border-radius: 4px;
}


.form__button {
    font-family: "Inter" , "arial" , "sans-serif";
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 20px;
    border-radius: 4px;
    width: 100%;
    padding: 0;
    margin-bottom: 32px;
    background-color: #2f80ed;
    color: white;
    height: 60px;
    border: none;
}

.form__button:hover {
    opacity: 70%;
    transform: scale(110%);
}