.header {
    padding: 30px 80px 40px;
    margin: 0;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    min-height: 720px;
    max-height: 800px;
    height: 100vh;
    background-color: #fff;
    background-image: url(../images/background_header.svg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
    z-index: 1;
}

.header__image {
    position: absolute;
    width: 646px;
    height: 568px;
    z-index: -1; 
    top: 124px;
    right: 5px;
}   

.header__span-accent {
    font-family: "Noto Serif" , "arial" , "sans-serif";
    font-style: italic;
    font-weight: normal;
    font-size: 60px;
    line-height: 72px;
    color: #2F80ED;
    max-width: 729px;
    margin: 183px 0 0;
    display: block;
    
}

.header__title {
    font-family: "Inter" , "arial" , "sans-serif";
    font-style: normal;
    font-size: 60px;
    font-weight: 500;
    line-height: 72px;
    letter-spacing: -0.6px;
    z-index: 3;
    margin: 0;
}
.header__description {
    font-family: "Noto Serif" , "arial" , "sans-serif";
    font-style: normal;
    font-weight: normal;
    font-size: 20px;
    line-height: 30px;
    max-width: 683px;
    margin: 28px 0 0;
}

.header__footer {
    display: flex;
    justify-content: space-between;
    margin-top: auto;
    align-items: flex-end;
    color: #838383;
}

.header__paragraph {
    margin: 0;
    z-index: 1;
}