.header {
    padding: 30px 80px 40px;
    display: flex;
    flex-direction: column;
    min-height: 720px;
    max-height: 800px;
    height: 100vh;
    background-color: #fff;
    background-image: url(/images/background_header.svg);
    background-repeat: no-repeat;
    background-size: cover;
}

.header__image {
    position: absolute;
    width: 646px;
    height: 568px;
    margin: 124px 800px 0;
    z-index: 2; 
}
    

.nav {
    display: flex;
    justify-content: space-between;
}

.nav__links {
    display: flex;
    padding: 0;
    margin: 0;
    gap: 20px;
    list-style: none;
    z-index: 4;
}

.nav__link:hover {
    color: #2F80ED;
    transition: 1.5s ease-out;
}

.nav__link {
    color: black;
    text-decoration-line: none;
    font-family: "Inter";
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 20px;
}

.nav__logo {
    position: relative;
    left: -50px;
    width: 105px;
    height: 39px;
}

.header__span-accent {
    font-family: "Noto Serif";
    font-style: italic;
    font-weight: normal;
    font-size: 60px;
    line-height: 72px;
    color: #2F80ED;
    max-width: 729px;
    margin: 183px 0 0;
    display: block;
    
}

.header__title {
    font-family: "Inter";
    font-style: normal;
    font-size: 60px;
    font-weight: 500;
    line-height: 72px;
    letter-spacing: -0.6px;
    z-index: 3;
}
.header__description {
    font-family: "Noto Serif";
    font-style: normal;
    font-weight: normal;
    font-size: 20px;
    line-height: 30px;
    max-width: 683px;
    margin: 28px 0 0;
}

.header__footer {
    display: flex;
    justify-content: space-between;
    margin-top: auto;
}

.header__paragraph {
    margin: 0;
    z-index: 1;
}