.recipes {
    padding: 100px 80px 215px;
    background-image: url("../images/background_recipes.svg");
    background-position: center;
    background-color: #0a2750
}

.recipes__image {
    background-color: #0a2750;
    position: absolute;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    z-index: -1;
}

.recipes__title {
    max-width: 580px;
    font-family: "Inter", "arial", "sans-serif";
    font-style: normal;
    font-weight: 500;
    font-size: 44px;
    line-height: 52px;
    margin: 0;
    color: white;
}

.recipes__subtitle {
    font-family: "Noto Serif", "arial", "sans-serif";
    font-style: normal;
    font-weight: normal;
    font-size: 20px;
    line-height: 30px;
    max-width: 438px;
    margin: 24px 0 0;
    color: white;
}

.recipes__iframe {
    width: 480px;
    height: 273px;
    border: none;
}

.recipes__list-item {
    list-style: none;
    padding-left: 0;
}

.recipes__videos {
    display: flex;
    justify-content: center;
    gap: 40px;
    margin: 0;
    margin-top: 80px;
    margin-bottom: 0;
    padding-left: 0;
}
.recipes__video-caption {
    font-family: "Inter", "arial", "sans-serif";
    font-style: normal;
    font-weight: 500;
    font-size: 20px;
    line-height: 30px;
    margin: 0;
    margin-top: 24px;
    color: white;
    display: flex;
    justify-content: space-between
}