header {
    background-image: url(/images/background_header.svg);
}

main {
    background-image: url(/images/background_recipes.svg);
    background-color: #0a2750;
}

.page {
    min-width: 1100px;
    max-width: 1600px;
    font-family: 'Inter', 'Arial', sans-serif;
    font-size: 16px;
    line-height: 20px;
    margin: 0 auto;
    
}   

.header {
    padding: 30px 80px 40px;
    display: flex;
    flex-direction: column;
    min-height: 720px;
    max-height: 800px;
    height: 100vh;
    background-color: #fff;
    
}

    
    

.nav {
    display: flex;
    justify-content: space-between;
}

.nav__links {
    display: flex;
    padding: 0;
    margin: 0;
    gap: 20px;
    list-style: none;
}

.nav__link {
    color: black;
    text-decoration-line: none;
    font-family: "Inter";
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 20px;
}

.nav__logo {
    position: relative;
    left: -50px;
    width: 105px;
    height: 39px;
}

.header__span-accent {
    font-family: "Noto Serif";
    font-style: italic;
    font-weight: normal;
    font-size: 60px;
    line-height: 72px;
    color: #2F80ED;
    max-width: 729px;
    margin: 183px 0 0;
    display: block;
}

.header__title {
    font-family: "Inter";
    font-style: normal;
    font-size: 60px;
    font-weight: 500;
    line-height: 72px;
    letter-spacing: -0.6px;
}
.header__description {
    font-family: "Noto Serif";
    font-style: normal;
    font-weight: normal;
    font-size: 20px;
    line-height: 30px;
    max-width: 683px;
    margin: 28px 0 0;
}

.header__footer {
    display: flex;
    justify-content: space-between;
    margin-top: auto;
}

.header__paragraph {
    margin: 0;
}

.recipes {
    padding: 100px 80px 215px;
}

.recipes__title {
    max-width: 580px;
    font-family: "Inter";
    font-style: normal;
    font-weight: 500;
    font-size: 44px;
    line-height: 52px;
    margin: 0;
    color: white;


}

.recipes__subtitle {
    font-family: "Noto Serif";
    font-style: normal;
    font-weight: normal;
    font-size: 20px;
    line-height: 30px;
    max-width: 438px;
    margin: 24px 0 0;
    color: white;
}

.recipes__videos {
    display: flex;
    justify-content: center;
    gap: 40px;
    margin: 0;
    margin-top: 80px;
    margin-bottom: 215px;
}
.recipes__video-caption {
    font-family: "Inter";
    font-style: normal;
    font-weight: 500;
    font-size: 20px;
    line-height: 30px;
    margin: 0;
    margin-top: 24px;
    color: white;
    display: flex;
    justify-content: space-between
}



