@import url(../blocks/footer.css);
@import url(../blocks/about.css);
@import url(../blocks/menu.css);
@import url(../blocks/reservation.css);
@import url(../blocks/recipes.css);
@import url(../blocks/header.css);
@import url(../blocks/page.css);
/*
.page {
    min-width: 1100px;
    max-width: 1600px;
    font-family: 'Inter', 'Arial', sans-serif;
    font-size: 16px;
    line-height: 20px;
    margin: 0 auto; 
}   
/*
.header {
    padding: 30px 80px 40px;
    display: flex;
    flex-direction: column;
    min-height: 720px;
    max-height: 800px;
    height: 100vh;
    background-color: #fff;
    background-image: url(/images/background_header.svg);
    background-repeat: no-repeat;
    background-size: cover;
}

.header__image {
    position: absolute;
    width: 646px;
    height: 568px;
    margin: 124px 800px 0;
    z-index: 2; 
}
    

.nav {
    display: flex;
    justify-content: space-between;
}

.nav__links {
    display: flex;
    padding: 0;
    margin: 0;
    gap: 20px;
    list-style: none;
    z-index: 4;
}

.nav__link:hover {
    color: #2F80ED;
    transition: 1.5s ease-out;
}

.nav__link {
    color: black;
    text-decoration-line: none;
    font-family: "Inter";
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 20px;
}

.nav__logo {
    position: relative;
    left: -50px;
    width: 105px;
    height: 39px;
}

.header__span-accent {
    font-family: "Noto Serif";
    font-style: italic;
    font-weight: normal;
    font-size: 60px;
    line-height: 72px;
    color: #2F80ED;
    max-width: 729px;
    margin: 183px 0 0;
    display: block;
    
}

.header__title {
    font-family: "Inter";
    font-style: normal;
    font-size: 60px;
    font-weight: 500;
    line-height: 72px;
    letter-spacing: -0.6px;
    z-index: 3;
}
.header__description {
    font-family: "Noto Serif";
    font-style: normal;
    font-weight: normal;
    font-size: 20px;
    line-height: 30px;
    max-width: 683px;
    margin: 28px 0 0;
}

.header__footer {
    display: flex;
    justify-content: space-between;
    margin-top: auto;
}

.header__paragraph {
    margin: 0;
    z-index: 1;
}
/*
.recipes {
    padding: 100px 80px 215px;
    background-image: url(/images/background_recipes.svg);
    background-color: #0a2750
}

.recipes__image {
    background-color: #0a2750;
    position: absolute;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    z-index: -1;
}

.recipes__title {
    max-width: 580px;
    font-family: "Inter";
    font-style: normal;
    font-weight: 500;
    font-size: 44px;
    line-height: 52px;
    margin: 100px 80px 0;
    color: white;
}

.recipes__subtitle {
    font-family: "Noto Serif";
    font-style: normal;
    font-weight: normal;
    font-size: 20px;
    line-height: 30px;
    max-width: 438px;
    margin: 24px 80px 0;
    color: white;
}

.recipes__videos {
    display: flex;
    justify-content: center;
    gap: 40px;
    margin: 0;
    margin-top: 80px;
    margin-bottom: 215px;
    border: none;
}
.recipes__video-caption {
    font-family: "Inter";
    font-style: normal;
    font-weight: 500;
    font-size: 20px;
    line-height: 30px;
    margin: 0;
    margin-top: 24px;
    color: white;
    display: flex;
    justify-content: space-between
}
/*
.reservation {
    padding: 100px 0 120px;
    background-image: url(/images/background_reservation.svg);
    background-color: #D9E7FF;
}

.reservation__title {
    margin: 0 0 80px;
    text-align: center;
    font-family: inter;
    font-style: normal;
    font-weight: 500;
    font-size: 44px;
    line-height: 52px;
}

.form {
    max-width: 385px;
}

.form__fieldset {
    padding: 0;
    margin: 0;
    border: none;
}

.form__label {
    margin-bottom: 32px;
    display: block;
    font-family: inter;
    font-size: 16px;
    line-height: 20px;
    font-weight: 500;
    font-style: normal;
}

.form__label_type_checkbox {
    display: flex;
    justify-content: center;
    gap: 12px;
}

.form__input {
    display: block;
    width: 100%;
    padding: 0;
    box-sizing: border-box;
    margin-top: 8px;
    font-family: inter;
    font-style: normal;
    font-weight: normal;
    font-size: 20px;
    line-height: 30px;
    color: #838383
}

.reservation__form {
    margin: 0 auto;
}

.form__button {
    font-family: "Inter";
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 20px;
    border-radius: 4px;
    width: 100%;
    padding: 0;
    margin-bottom: 32px;
    font-family: inter;
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 20px;
    background-color: #2f80ed;
    color: white;
    height: 60px;
}

.form__button:hover {
    opacity: 70%;
    transform: scale(110%);
}
/*
.menu {
    background-image: url(/images/background_menu.svg);
    background-color: #fff;
    background-size: cover;
    padding: 100px 0 100px;
    background-repeat: no-repeat;
    background-position: center;
}

.menu__title {
    text-align: center;
    margin: 0 auto;
    padding: 100px 0 24px;
    max-width: 780px;
    font-family: "Inter";
    font-style: normal;
    font-weight: 500;
    font-size: 44px;
    line-height: 52px;
}

.menu__subtitle {
    text-align: center;
    margin: 0 auto;
    max-width: 780px;
    padding-bottom: 100px;
    font-family: "Noto Serif";
    font-style: normal;
    font-weight: normal;
    font-size: 20px;
    line-height: 30px;
}


.menu__cards {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 100px;
    margin: 0;
    padding: 0;
    list-style-type: none;
}

.card {
    width: 540px;
}

.card__title {
    margin: 0 0 32px;
    font-family: "Inter";
    font-style: normal;
    font-weight: bold;
    font-size: 20px;
    line-height: 30px;
}

.card__list {
    padding: 0;
    margin: 0;
    list-style-type: none;
}


.card__list-item {
    margin-bottom: 16px;
    display: flex;
    font-family: "Noto Serif";
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 20px;
}


.card__list-item:last-child {
    margin-bottom: 0;
}

.card__list-divider {
    border-bottom: 1px solid black;
    flex-grow: 1;
}
/*
.about {
    
    background-color: #0A2850;
    color: #fff;
    overflow: hidden;
    position: relative;
    
  }
  
  .about__title {
    margin: 0;
    color: white;
    font-family: "Inter";
    font-style: normal;
    font-weight: 500;
    font-size: 44px;
    line-height: 52px;
    z-index: 1;
    max-width: 251px;
    position: absolute;
    padding-top: 100px;
    padding-left: 80px;
  }
  
  .about__content {
    font-family: "Noto Serif";
    font-style: normal;
    font-weight: normal;
    font-size: 20px;
    line-height: 30px;
    max-width: 660px;
    z-index: 1;
    padding-left: 800px;
    padding-bottom: 173px;
    padding-top: 119px;
    
  }
  
  .about__circle {
    background-color: #2f80ed;
    width: 426px;
    height: 426px;
    border-radius: 50%;
    position: absolute;
    margin: -152px 0 0 -129px;
  }

  .about__circle_animation_blurred {
    background-color: #2f80ed;
    width: 426px;
    height: 426px;
    border-radius: 50%;
    position: absolute;
    margin: -152px 0 0 -129px;
    animation: pulsate 1.3s ease-in-out infinite;
  }

  @keyframes pulsate {
    0% {
      opacity: 0;
      transform: scale(1);
    }
    50% {
      opacity: 0.6;
    }
    100% {
      opacity: 0;
      transform: scale(1.5);
    }
  }
  
  .about__paragraph {
    max-width: 660px;
    margin-bottom: 20px;
    font-family: "Noto Serif";
    font-style: normal;
    font-weight: normal;
    font-size: 20px;
    line-height: 30px;
  }
  /*
  .footer {
    background: linear-gradient(180deg, #0A2850 0%, #071931 100%);
    box-sizing: border-box;
    padding: 60px 100px 0 80px;
  }

  .footer__columns {
    display: flex;
  }
  
  .footer__column_content_social {
    margin-left: auto;
  }
  
  .footer__logo {
    width: 105px;
    height: 39px;
    
  }
  
  .footer__list {
    list-style-type: none;
    padding: 0;
    margin: 0;
  }
  
  .footer__list-item {
    color: white;
    margin-bottom: 16px;
  }
  
  .footer__list-item:last-of-type {
    margin-bottom: 0;
  }
  
  .footer__column-heading {
    margin: 0 0 20px;
    font-size: 16px;
    color: white;
    font-family: "Inter";
    font-style: normal;
    font-weight: bold;
    font-size: 16px;
    line-height: 20px;
  }
  
  .footer__column-link {
    color: white;
    font-size: 16px;
    line-height: 20px;
    text-decoration: none;
    display: flex;
    align-items: center;
    font-family: "Inter";
    font-style: normal;
    font-weight: normal;
  }
  
  .footer__column-link:hover {
    color: #c1c1c1;
    transition: 2s;
  }
  .footer__social-icon {
    width: 16px;
    height: 16px;
    margin-right: 10px;
  }
  
  .footer__copyright {
    margin: 108px 0 0;
    color: white;
    padding-bottom: 60px;
    font-family: "Inter";
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 20px;
  }